@font-face {
  font-family: 'Roboto';
  src: url('dist/fonts/Roboto-Black.eot'); /* IE9 Compat Modes */
  src: url('dist/fonts/Roboto-Black.woff') format('woff');
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Roboto';
  src: url('dist/fonts/Roboto-Light.eot'); /* IE9 Compat Modes */
  src: url('dist/fonts/Roboto-Light.woff') format('woff');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Roboto';
  src: url('dist/fonts/Roboto-Regular.eot'); /* IE9 Compat Modes */
  src: url('dist/fonts/Roboto-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}